<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--DAO-->
    <bean id="customerDao" class="ua.mega.dao.mock.CustomerDaoMockImpl"/>
    <bean id="phoneDao" class="ua.mega.dao.mock.PhoneDaoMockImpl"/>

    <!--Service-->
    <bean id="customerService" class="ua.mega.service.CustomerServiceImpl"/>
    <bean id="phoneService" class="ua.mega.service.PhoneServiceImpl"/>

</beans>